@import "stylepost.css";
@import "style.css";
body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    
}


.container {
    width: 90%;
    max-width: 1000px;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 20px;
    font-family: comic MS;
    
}

a:hover {
    color:rgb(246, 136, 11);
  }
  footer {
    background-color: #949191; 
    color: #fff; 
    text-align: center;
    border-top: 2px solid #333;
    padding-top: 10px;
}

@media(min-width: 600px) {
    main {
        grid-template-columns: 1fr 1fr;
    }

    main .introduction {
        grid-column: span 2;
    }
}